<%= form_for(@carrera) do |f| %>
  <% if @carrera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carrera.errors.count, "error") %> prohibited this carrera from being saved:</h2>

      <ul>
      <% @carrera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_carr %><br>
    <%= f.text_field :nombre_carr %>
  </div>
  <div class="field">
    <%= f.label :duracion_carr %><br>
    <%= f.number_field :duracion_carr %>
  </div>
  <div class="field">
    <%= f.label :titulo_obt_carr %><br>
    <%= f.text_field :titulo_obt_carr %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
