<p id="notice"><%= notice %></p>

<p>
  <strong>Ci alu:</strong>
  <%= @alumno.ci_alu %>
</p>

<p>
  <strong>Nombres alu:</strong>
  <%= @alumno.nombres_alu %>
</p>

<p>
  <strong>Apellidos alu:</strong>
  <%= @alumno.apellidos_alu %>
</p>

<p>
  <strong>Fnac alu:</strong>
  <%= @alumno.fnac_alu %>
</p>

<p>
  <strong>Lnac alu:</strong>
  <%= @alumno.lnac_alu %>
</p>

<p>
  <strong>Direccion alu:</strong>
  <%= @alumno.direccion_alu %>
</p>

<p>
  <strong>Telefono alu:</strong>
  <%= @alumno.telefono_alu %>
</p>

<p>
  <strong>Celular alu:</strong>
  <%= @alumno.celular_alu %>
</p>

<p>
  <strong>Email alu:</strong>
  <%= @alumno.email_alu %>
</p>

<p>
  <strong>Est civil alu:</strong>
  <%= @alumno.est_civil_alu %>
</p>

<p>
  <strong>Genero alu:</strong>
  <%= @alumno.genero_alu %>
</p>

<p>
  <strong>Nacionalidad alu:</strong>
  <%= @alumno.nacionalidad_alu %>
</p>

<p>
  <strong>Procedencia alu:</strong>
  <%= @alumno.procedencia_alu %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
