<p id="notice"><%= notice %></p>

<p>
  <strong>Ci doc:</strong>
  <%= @docente.ci_doc %>
</p>

<p>
  <strong>Nombre doc:</strong>
  <%= @docente.nombre_doc %>
</p>

<p>
  <strong>Apellido doc:</strong>
  <%= @docente.apellido_doc %>
</p>

<p>
  <strong>Fnac doc:</strong>
  <%= @docente.fnac_doc %>
</p>

<p>
  <strong>Lnac doc:</strong>
  <%= @docente.lnac_doc %>
</p>

<p>
  <strong>Direccion doc:</strong>
  <%= @docente.direccion_doc %>
</p>

<p>
  <strong>Telefono doc:</strong>
  <%= @docente.telefono_doc %>
</p>

<p>
  <strong>Celular doc:</strong>
  <%= @docente.celular_doc %>
</p>

<p>
  <strong>Email doc:</strong>
  <%= @docente.email_doc %>
</p>

<p>
  <strong>Est civil doc:</strong>
  <%= @docente.est_civil_doc %>
</p>

<p>
  <strong>Genero doc:</strong>
  <%= @docente.genero_doc %>
</p>

<p>
  <strong>Nacionalidad doc:</strong>
  <%= @docente.nacionalidad_doc %>
</p>

<p>
  <strong>Especialidad doc:</strong>
  <%= @docente.especialidad_doc %>
</p>

<%= link_to 'Edit', edit_docente_path(@docente) %> |
<%= link_to 'Back', docentes_path %>
