<%= form_for(@anho_lectivo) do |f| %>
  <% if @anho_lectivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anho_lectivo.errors.count, "error") %> prohibited this anho_lectivo from being saved:</h2>

      <ul>
      <% @anho_lectivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anho_lect %><br>
    <%= f.number_field :anho_lect %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
