<h1>Listing anho_lectivos</h1>

<table>
  <thead>
    <tr>
      <th>Anho lect</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anho_lectivos.each do |anho_lectivo| %>
      <tr>
        <td><%= anho_lectivo.anho_lect %></td>
        <td><%= link_to 'Show', anho_lectivo %></td>
        <td><%= link_to 'Edit', edit_anho_lectivo_path(anho_lectivo) %></td>
        <td><%= link_to 'Destroy', anho_lectivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anho lectivo', new_anho_lectivo_path %>
