<p id="notice"><%= notice %></p>

<p>
  <strong>Ci fun:</strong>
  <%= @funcionario.ci_fun %>
</p>

<p>
  <strong>Nombres fun:</strong>
  <%= @funcionario.nombres_fun %>
</p>

<p>
  <strong>Apellidos fun:</strong>
  <%= @funcionario.apellidos_fun %>
</p>

<p>
  <strong>Fnac fun:</strong>
  <%= @funcionario.fnac_fun %>
</p>

<p>
  <strong>Lnac fun:</strong>
  <%= @funcionario.lnac_fun %>
</p>

<p>
  <strong>Direccion fun:</strong>
  <%= @funcionario.direccion_fun %>
</p>

<p>
  <strong>Telefono fun:</strong>
  <%= @funcionario.telefono_fun %>
</p>

<p>
  <strong>Celular fun:</strong>
  <%= @funcionario.celular_fun %>
</p>

<p>
  <strong>Email fun:</strong>
  <%= @funcionario.email_fun %>
</p>

<p>
  <strong>Est civil fun:</strong>
  <%= @funcionario.est_civil_fun %>
</p>

<p>
  <strong>Genero fun:</strong>
  <%= @funcionario.genero_fun %>
</p>

<p>
  <strong>Nacionalidad fun:</strong>
  <%= @funcionario.nacionalidad_fun %>
</p>

<p>
  <strong>Especialidad fun:</strong>
  <%= @funcionario.especialidad_fun %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
